In [4]:
import pandas as pd
import pandas.io.sql as psql
import os
import sys
from datetime import date
current_date = date.today()
#%load_ext autotime
import re
import csv
import pandas as pd
import numpy as np
import os
from glob import glob
from tqdm import tqdm
import matplotlib.pyplot as plt
#from matplotlib_venn import venn2, venn3
import warnings
import time
import datetime as dt
import itertools
from more_itertools import unique_everseen
warnings.filterwarnings("ignore")
#import pandasql as ps
import seaborn as sns
import json
from ast import literal_eval
import ast

In [ ]:
total = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\total_summary_stats_updated_7_6_2021.csv")

In [ ]:
total

In [ ]:
one = total[total["Unique_Encounters"] == 1]
head_100 = one[:100]

In [9]:
m1 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\1\Padded_Matches\apoe_1_not_padded_matches.csv")
m2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\2\Padded_Matches\apoe_2_not_padded_matches.csv")
m3 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\3\Padded_Matches\apoe_3_not_padded_matches.csv")
m4 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\4\Padded_Matches\apoe_4_not_padded_matches.csv")
m5 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\5\Padded_Matches\apoe_5_not_padded_matches.csv")

In [10]:
frames = [m1, m2, m3, m4, m5]
merged = pd.concat(frames)

In [11]:
merged['note_char_count'] = merged['NoteTXT'].str.len()

In [12]:
merged.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,regex_match,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,sequence_level_regex_location,sequence_level_regex_match,char_count,note_char_count
0,7,7,25,25.0,100000272,10040002098,Z6352398,3.329631e+09,2020-11-20 00:00:00.0000000,Telemedicine - audio only,...,['cognition'],1,"[(100, 110)]","[(181, 390), (479, 688), (2048, 2269), (6184, ...","------- ial Source of info:? Patient, Chart Mo...","[' cognition', ' memory', ' cognitive impairme...","[(2661, 2669), (108, 117), (326, 335), (989, 9...","['dementia', 'cognition', 'memory', 'moca', 'c...",2760,14468
1,43,43,129,129.0,100001150,10027033512,Z6353136,3.085646e+09,2015-07-14 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(1496, 1704), (2465, 2675), (4481, 4687), (54...",------- ory is obtained from patient and pt's ...,"[' dementia', ' memory', ' cerebellar']","[(108, 116), (1348, 1356), (1565, 1573), (544,...","['dementia', 'memory', 'cerebellar']",1869,17446
2,45,45,141,141.0,100001150,10027033512,Z6353136,3.114434e+09,2016-05-19 00:00:00.0000000,Office Visit,...,['Dementia'],1,"[(100, 109)]","[(245, 596), (1735, 2042), (2951, 3159)]",------- ed during the visit to clarify patient...,"[' cognition', ' dementia', ' cognitive impair...","[(108, 116), (251, 259), (784, 792), (566, 575...","['dementia', 'cognition', 'cognitive impairment']",886,4115
3,47,47,147,147.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(128, 505), (5897, 6105), (9800, 10008)]",------- Hospital Emergency Department History...,[' dementia'],"[(108, 116), (277, 285), (494, 502)]",['dementia'],813,10901
4,50,50,153,153.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(258, 466), (903, 1110), (1193, 1401), (5953,...",------- emale who presents with syncope. Ms. B...,"[' amnesia', ' dementia', ' memory']","[(108, 116), (541, 549), (1190, 1198), (758, 7...","['dementia', 'memory', 'amnesia']",1297,10025

In [13]:
m1_2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\1\Padded_Matches\apoe_1_padded_matches.csv")
m2_2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\2\Padded_Matches\apoe_2_padded_matches.csv")
m3_2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\3\Padded_Matches\apoe_3_padded_matches.csv")
m4_2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\4\Padded_Matches\apoe_4_padded_matches.csv")
m5_2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\5\Padded_Matches\apoe_5_padded_matches.csv")

In [14]:
frames_2 = [m1_2, m2_2, m3_2, m4_2, m5_2]
merged_2 = pd.concat(frames_2)

In [15]:
merged_2['note_char_count'] = merged_2['NoteTXT'].str.len()

In [16]:
merged_2 = merged_2.drop(columns = ['sequence_level_regex_location', 'sequence_level_regex_match', 'char_count'])

In [17]:
merged_2.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,regex_match,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,padded_merged_row_location,padded_merged_regex_sent,padded_char_count,note_char_count
0,0,0,0,0.0,100000272,10040002098,Z6352398,3.076070e+09,2015-06-17 00:00:00.0000000,Office Visit,...,['cerebral'],1,"[(100, 109)]","[(5750, 5958)]",------- ncer. She passed secondary to this. He...,[' cerebral'],"(5457, 6251)",ked at HMS in the department of psychobiology ...,794,19217
1,1,1,1,1.0,100000272,10040002098,Z6352398,3.076214e+09,2015-07-16 00:00:00.0000000,Office Visit,...,['memory'],1,"[(100, 107)]","[(3543, 3749)]",------- a. Skin: No rashes or lesions. Neurolo...,[' memory'],"(3248, 4044)",or lymphadenopathy. Chest: Clear to auscultati...,796,5850
2,2,2,14,14.0,100000272,10040002098,Z6352398,3.242118e+09,2019-03-14 00:00:00.0000000,Office Visit,...,['dementia'],1,"[(100, 109)]","[(8641, 8849)]","------- ractures, obesity, insulin resistance,...",[' dementia'],"(8345, 9145)",ession alone in the meta-analysis. We discusse...,800,13298
3,3,3,15,15.0,100000272,10040002098,Z6352398,3.322836e+09,2020-12-04 00:00:00.0000000,Telemedicine - audio only,...,['MOCA'],1,"[(100, 105)]","[(948, 1152), (4778, 4987), (5004, 5331)]",------- accept for this week when he ran out ...,"[' moca', ' cognition', ' memory']","[(930, 1152), (4778, 4987), (5004, 5349)]",------- ing tylenol really accept for this we...,803,8711
4,4,4,20,20.0,100000272,10040002098,Z6352398,3.325561e+09,2020-09-18 00:00:00.0000000,Telemedicine - audio only,...,['cognition'],1,"[(100, 110)]","[(5367, 5576), (5593, 5812)]",------- ue Tylenol 1g q8 as needed - If pain w...,"[' cognition', ' memory']","[(5188, 5576), (5593, 5991)]",------- in is related to cancer. Reassuringly...,804,9145

In [18]:
merged.columns = merged.columns

In [19]:
merged['note_char_count'] = merged['NoteTXT'].str.len()

In [20]:
merged["padded_merged_regex_sent"] = merged["merged_regex_sent"]

In [21]:
merged.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,sequence_level_regex_location,sequence_level_regex_match,char_count,note_char_count,padded_merged_regex_sent
0,7,7,25,25.0,100000272,10040002098,Z6352398,3.329631e+09,2020-11-20 00:00:00.0000000,Telemedicine - audio only,...,1,"[(100, 110)]","[(181, 390), (479, 688), (2048, 2269), (6184, ...","------- ial Source of info:? Patient, Chart Mo...","[' cognition', ' memory', ' cognitive impairme...","[(2661, 2669), (108, 117), (326, 335), (989, 9...","['dementia', 'cognition', 'memory', 'moca', 'c...",2760,14468,"------- ial Source of info:? Patient, Chart Mo..."
1,43,43,129,129.0,100001150,10027033512,Z6353136,3.085646e+09,2015-07-14 00:00:00.0000000,Hospital Encounter,...,1,"[(100, 109)]","[(1496, 1704), (2465, 2675), (4481, 4687), (54...",------- ory is obtained from patient and pt's ...,"[' dementia', ' memory', ' cerebellar']","[(108, 116), (1348, 1356), (1565, 1573), (544,...","['dementia', 'memory', 'cerebellar']",1869,17446,------- ory is obtained from patient and pt's ...
2,45,45,141,141.0,100001150,10027033512,Z6353136,3.114434e+09,2016-05-19 00:00:00.0000000,Office Visit,...,1,"[(100, 109)]","[(245, 596), (1735, 2042), (2951, 3159)]",------- ed during the visit to clarify patient...,"[' cognition', ' dementia', ' cognitive impair...","[(108, 116), (251, 259), (784, 792), (566, 575...","['dementia', 'cognition', 'cognitive impairment']",886,4115,------- ed during the visit to clarify patient...
3,47,47,147,147.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,1,"[(100, 109)]","[(128, 505), (5897, 6105), (9800, 10008)]",------- Hospital Emergency Department History...,[' dementia'],"[(108, 116), (277, 285), (494, 502)]",['dementia'],813,10901,------- Hospital Emergency Department History...
4,50,50,153,153.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,1,"[(100, 109)]","[(258, 466), (903, 1110), (1193, 1401), (5953,...",------- emale who presents with syncope. Ms. B...,"[' amnesia', ' dementia', ' memory']","[(108, 116), (541, 549), (1190, 1198), (758, 7...","['dementia', 'memory', 'amnesia']",1297,10025,------- emale who presents with syncope. Ms. B...

In [49]:
frames3 = [merged, merged_2]
total = pd.concat(frames3)

In [50]:
len(total)

280100

In [51]:
total.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,merged_row_location,merged_regex_sent,merged_regex_match,sequence_level_regex_location,sequence_level_regex_match,char_count,note_char_count,padded_merged_regex_sent,padded_merged_row_location,padded_char_count
0,7,7,25,25.0,100000272,10040002098,Z6352398,3.329631e+09,2020-11-20 00:00:00.0000000,Telemedicine - audio only,...,"[(181, 390), (479, 688), (2048, 2269), (6184, ...","------- ial Source of info:? Patient, Chart Mo...","[' cognition', ' memory', ' cognitive impairme...","[(2661, 2669), (108, 117), (326, 335), (989, 9...","['dementia', 'cognition', 'memory', 'moca', 'c...",2760.0,14468,"------- ial Source of info:? Patient, Chart Mo...",NaN,NaN
1,43,43,129,129.0,100001150,10027033512,Z6353136,3.085646e+09,2015-07-14 00:00:00.0000000,Hospital Encounter,...,"[(1496, 1704), (2465, 2675), (4481, 4687), (54...",------- ory is obtained from patient and pt's ...,"[' dementia', ' memory', ' cerebellar']","[(108, 116), (1348, 1356), (1565, 1573), (544,...","['dementia', 'memory', 'cerebellar']",1869.0,17446,------- ory is obtained from patient and pt's ...,NaN,NaN
2,45,45,141,141.0,100001150,10027033512,Z6353136,3.114434e+09,2016-05-19 00:00:00.0000000,Office Visit,...,"[(245, 596), (1735, 2042), (2951, 3159)]",------- ed during the visit to clarify patient...,"[' cognition', ' dementia', ' cognitive impair...","[(108, 116), (251, 259), (784, 792), (566, 575...","['dementia', 'cognition', 'cognitive impairment']",886.0,4115,------- ed during the visit to clarify patient...,NaN,NaN
3,47,47,147,147.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,"[(128, 505), (5897, 6105), (9800, 10008)]",------- Hospital Emergency Department History...,[' dementia'],"[(108, 116), (277, 285), (494, 502)]",['dementia'],813.0,10901,------- Hospital Emergency Department History...,NaN,NaN
4,50,50,153,153.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,"[(258, 466), (903, 1110), (1193, 1401), (5953,...",------- emale who presents with syncope. Ms. B...,"[' amnesia', ' dementia', ' memory']","[(108, 116), (541, 549), (1190, 1198), (758, 7...","['dementia', 'memory', 'amnesia']",1297.0,10025,------- emale who presents with syncope. Ms. B...,NaN,NaN

In [281]:
k = regex["REGEX"].to_list()
c = regex["CASE"].to_list()
p_list = []

for i in range(len(k)):
    if (c[i] == 0):
        p_list.append(re.compile(k[i][5:], re.IGNORECASE))
    elif (c[i] == 1):
        p_list.append(re.compile(k[i]))
print(p_list)

[re.compile('\\bdementia\\b', re.IGNORECASE), re.compile('\\bcognition\\b', re.IGNORECASE), re.compile('\\bmemory\\b', re.IGNORECASE), re.compile('\\bMMSE\\b', re.IGNORECASE), re.compile('\\bMOCA\\b', re.IGNORECASE), re.compile('\\bAlzheimer\\b', re.IGNORECASE), re.compile('\\bcognitive\\s*impairment\\b', re.IGNORECASE), re.compile('(?-i:)\\bMCI\\b'), re.compile('\\bcerebellar\\b', re.IGNORECASE), re.compile('\\bNeurocognitive\\b', re.IGNORECASE), re.compile('\\blewy\\b', re.IGNORECASE), re.compile("\\bpick's\\b", re.IGNORECASE), re.compile('\\bCorticobasal\\b', re.IGNORECASE), re.compile('\\bcerebral\\b', re.IGNORECASE), re.compile('\\bcerebrovascular\\b', re.IGNORECASE), re.compile('\\bamnesia\\b', re.IGNORECASE), re.compile('(?-i:)\\bAD\\b'), re.compile('(?-i:)\\bLBD\\b')]

In [305]:
t

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,...,merged_row_location,merged_regex_sent,merged_regex_match,padded_merged_row_location,padded_merged_regex_sent,padded_char_count,note_char_count,sequence_level_regex_location,sequence_level_regex_match,char_count
0,0,0,0,0.0,0.0,100000272,10040002098,Z6352398,3.076070e+09,2015-06-17 00:00:00.0000000,...,"[(5750, 5958)]",------- ncer. She passed secondary to this. He...,[' cerebral'],"(5457, 6251)",ked at HMS in the department of psychobiology ...,794.0,19217.0,NaN,NaN,NaN
1,1,1,1,1.0,1.0,100000272,10040002098,Z6352398,3.076214e+09,2015-07-16 00:00:00.0000000,...,"[(3543, 3749)]",------- a. Skin: No rashes or lesions. Neurolo...,[' memory'],"(3248, 4044)",or lymphadenopathy. Chest: Clear to auscultati...,796.0,5850.0,NaN,NaN,NaN
2,2,2,2,14.0,14.0,100000272,10040002098,Z6352398,3.242118e+09,2019-03-14 00:00:00.0000000,...,"[(8641, 8849)]","------- ractures, obesity, insulin resistance,...",[' dementia'],"(8345, 9145)",ession alone in the meta-analysis. We discusse...,800.0,13298.0,NaN,NaN,NaN
3,3,3,3,15.0,15.0,100000272,10040002098,Z6352398,3.322836e+09,2020-12-04 00:00:00.0000000,...,"[(948, 1152), (4778, 4987), (5004, 5331)]",------- accept for this week when he ran out ...,"[' moca', ' cognition', ' memory']","[(930, 1152), (4778, 4987), (5004, 5349)]",------- ing tylenol really accept for this we...,803.0,8711.0,NaN,NaN,NaN
4,4,4,4,20.0,20.0,100000272,10040002098,Z6352398,3.325561e+09,2020-09-18 00:00:00.0000000,...,"[(5367, 5576), (5593, 5812)]",------- ue Tylenol 1g q8 as needed - If pain w...,"[' cognition', ' memory']","[(5188, 5576), (5593, 5991)]",------- in is related to cancer. Reassuringly...,804.0,9145.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40300,60817,60817,277874,NaN,NaN,113705759,10127549029,Z16320629,3.285425e+09,2020-04-28 00:00:00.0000000,...,"[(1346, 1552), (1603, 1809), (5360, 5569), (59...","------- se ""she took a break"" and wants to dis...","[' memory', ' cognition', ' cerebral', ' cereb...",NaN,NaN,NaN,11314.0,"[(538, 547), (1626, 1635), (1844, 1853), (108,...","['cognition', 'memory', 'cerebellar', 'cerebral']",1949.0
40301,60818,60818,277883,NaN,NaN,113705759,10127549029,Z16320629,3.305416e+09,2020-09-22 00:00:00.0000000,...,"[(1165, 1371), (4255, 4464), (4876, 5084), (56...","------- all of her medications, including asp...","[' memory', ' cognition', ' cerebral', ' cereb...",NaN,NaN,NaN,10113.0,"[(323, 332), (1411, 1420), (1629, 1638), (108,...","['cognition', 'memory', 'cerebellar', 'cerebral']",1734.0
40302,60819,60819,277896,NaN,NaN,113705759,10127549029,Z16320629,3.327430e+09,2021-01-25 00:00:00.0000000,...,"[(194, 403), (444, 653), (1326, 1532), (4453, ...","------- ? Patient, Chart, daughter Olga Mode o...","[' cognition', ' cerebral', ' memory', ' cereb...",NaN,NaN,NaN,12320.0,"[(2816, 2824), (108, 117), (326, 335), (974, 9...","['dementia', 'cognition', 'memory', 'mci', 'ce...",3009.0
40303,60820,60820,277912,NaN,NaN,113705759,10127549029,Z16320629,3.349755e+09,2021-04-20 00:00:00.0000000,...,"[(202, 411), (452, 661), (3626, 3875), (4946, ...","------- ? Patient, Chart, daughter Olga Mode o...","[' cognition', ' cerebral', ' cognitive impair...",NaN,NaN,NaN,11250.0,"[(2103, 2111), (108, 117), (326, 335), (544, 5...","['dementia', 'cognition', 'moca', 'cognitive i...",2835.0
40304,60834,60834,277961,NaN,NaN,113708529,10127577079,Z16323433,3.196619e+09,2018-04-16 00:00:00.0000000,...,"[(239, 442), (964, 1167), (4227, 4436), (5937,...","------- h muscle invasive bladder cancer, curr...",[' cognition'],NaN,NaN,NaN,7027.0,"[(532, 541)]",['cognition'],1112.0

In [329]:
l = []
for note in tqdm(t["padded_merged_regex_sent"]):
    curr = []
    for p in (p_list):
        m = list(set(re.findall(p, note)))
        m = list(set(map(str.lower, m)))
        if (m != []):
            curr.append("".join(m))
    #print(curr)
    #print(l)
    l.append(str(curr))

t["padded_regex_match"] = l

100%|████████████████████████████████████████████████████████████████████████| 279224/279224 [03:06<00:00, 1497.40it/s]

In [371]:
t["NoteID"]

0         471433064
1         513142600
2        2370049295
3        4959788710
4        4570521668
            ...
40300    3960511043
40301    4585859437
40302    5203067949
40303    5673786544
40304    1939524875
Name: NoteID, Length: 279224, dtype: int64

In [52]:
unique_empi = total["EMPI"].unique()
unique_empi = list(unique_empi)
len(unique_empi)

16465

In [214]:
cols =  ['dementia', 'cognition', 'memory', 'mmse', 'moca', 'alzheimer', 'cognitive impairment', 'mci', 'cerebellar', 'neurocognitive', 'lewy', "pick's",  'corticobasal', 'cerebral', 'cerebrovascular', 'amnesia', 'ad', 'lbd']
len(cols)

18

In [106]:
summary_stats  = pd.DataFrame(pd.np.empty((len(unique_ids), len(cols))) * pd.np.nan) 
summary_stats.columns = cols

In [107]:
summary_stats

,dementia,cognition,memory,mmse,moca,alzheimer,cognitive impairment,mci,cerebellar,neurocognitive,lewy,pick's,corticobasal,cerebral,cerebrovascular,amnesia,ad,lbd
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [364]:
summary_stats_seq  = pd.DataFrame(pd.np.empty((len(t), len(cols)+3)) * pd.np.nan)

In [365]:
summary_stats_seq.columns = ['EMPI', 'EncounterID', 'NoteID'] + list(cols)

In [370]:
summary_stats_seq

,EMPI,EncounterID,NoteID,dementia,cognition,memory,mmse,moca,alzheimer,cognitive impairment,...,cerebellar,neurocognitive,lewy,pick's,corticobasal,cerebral,cerebrovascular,amnesia,ad,lbd
0,100000272,3.076070e+09,471433064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100000272,3.076214e+09,513142600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100000272,3.242118e+09,2370049295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100000272,3.322836e+09,4959788710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100000272,3.325561e+09,4570521668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279219,113705759,3.285425e+09,3960511043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279220,113705759,3.305416e+09,4585859437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279221,113705759,3.327430e+09,5203067949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279222,113705759,3.349755e+09,5673786544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279223,113708529,3.196619e+09,1939524875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [367]:
summary_stats_seq["EMPI"] = t["EMPI"].to_list()

In [368]:
summary_stats_seq["EncounterID"] = t["PatientEncounterID"].to_list()

In [369]:
summary_stats_seq["NoteID"]  = t["NoteID"].to_list()

In [332]:
len(t)

279224

In [275]:
t.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'Unnamed: 0.1.1.1.1', 'EMPI', 'MRN', 'PatientID', 'PatientEncounterID',
       'ContactDTS', 'EncounterTypeDSC', 'NoteID', 'InpatientNoteTypeDSC',
       'buckets', 'NoteCSNID', 'LineNBR', 'NoteTXT', 'regex_location',
       'regex_sent', 'regex_match', 'match_count', 'pruned_regex_location',
       'merged_row_location', 'merged_regex_sent', 'merged_regex_match',
       'padded_merged_row_location', 'padded_merged_regex_sent',
       'padded_char_count', 'note_char_count', 'sequence_level_regex_location',
       'sequence_level_regex_match', 'char_count'],
      dtype='object')

In [394]:
len(t["padded_regex_match"])

279224

In [392]:
# len(list(eval(t['padded_regex_match'][40305])))

In [398]:
match_tuples = []
keyword_list = []

if (len(list(eval(t['padded_regex_match'][270000]))) == 1):
    keyword_list = list(eval(t['padded_regex_match'][i]))
    for z in range(len(keyword_list)):
        match_tuples.append((keyword_list[z], 0))
else:
    keyword_list = list((t['padded_regex_match'][i].values))
    #print("KL: ", keyword_list)
    for j in range(len(keyword_list)):
        sub = "\', \'"
        x = list(eval(keyword_list[j]))# [2:len(keyword_list[j])-2]
        for z in range(len(x)):
            match_tuples.append((x[z], 0))
#print("MT: ", match_tuples)

freq = {"dementia":0
    ,"cognition":0
    ,"cognition":0
    ,"memory":0
    ,"mmse":0
    ,"moca":0
    ,"alzheimer":0
    ,'cognitive impairment':0
    ,"mci":0
    ,"cerebellar":0
    ,"neurocognitive":0
    ,"lewy":0
    ,"pick's":0
    ,"corticobasal":0
    ,"cerebral":0
    ,"cerebrovascular":0
    ,"amnesia":0
    ,"ad": 0
    ,"lbd": 0
}

for k, v in match_tuples:   
    if (k != ''):
        if (k == 'cognitive impairmentcognitiveimpairment' or k == 'cognitiveimpairmentcognitive impairment'):
            k = 'cognitive impairment'
            freq.update({str(k.lower()):int(freq[k.lower()] + 1)})
        else:
            freq.update({str(k.lower()):int(freq[k.lower()] + 1)})

#print(freq.items())
#print(summary_stats["dementia"])
for k, v in freq.items():
    #print(str(k.lower()))
    summary_stats_seq[str(k.lower())][i] = int(v)
freq

KeyError: 270000

In [374]:
for i in tqdm(range(len(t))):
    match_tuples = []
    keyword_list = []
    
    if (len(list(eval(t['padded_regex_match'][i]))) == 1):
        keyword_list = list(eval(t['padded_regex_match'][i]))
        for z in range(len(keyword_list)):
            match_tuples.append((keyword_list[z], 0))
    else:
        keyword_list = list((t['padded_regex_match'][i].values))
        #print("KL: ", keyword_list)
        for j in range(len(keyword_list)):
            sub = "\', \'"
            x = list(eval(keyword_list[j]))# [2:len(keyword_list[j])-2]
            for z in range(len(x)):
                match_tuples.append((x[z], 0))
    #print("MT: ", match_tuples)

    freq = {"dementia":0
        ,"cognition":0
        ,"cognition":0
        ,"memory":0
        ,"mmse":0
        ,"moca":0
        ,"alzheimer":0
        ,'cognitive impairment':0
        ,"mci":0
        ,"cerebellar":0
        ,"neurocognitive":0
        ,"lewy":0
        ,"pick's":0
        ,"corticobasal":0
        ,"cerebral":0
        ,"cerebrovascular":0
        ,"amnesia":0
        ,"ad": 0
        ,"lbd": 0
    }

    for k, v in match_tuples:   
        if (k != ''):
            if (k == 'cognitive impairmentcognitiveimpairment' or k == 'cognitiveimpairmentcognitive impairment'):
                k = 'cognitive impairment'
                freq.update({str(k.lower()):int(freq[k.lower()] + 1)})
            else:
                freq.update({str(k.lower()):int(freq[k.lower()] + 1)})
            
    #print(freq.items())
    #print(summary_stats["dementia"])
    for k, v in freq.items():
        #print(str(k.lower()))
        summary_stats_seq[str(k.lower())][i] = int(v)

 14%|██████████▌                                                              | 40305/279224 [12:15<1:12:38, 54.82it/s]

AttributeError: 'str' object has no attribute 'values'

In [136]:
summary_stats

,dementia,cognition,memory,mmse,moca,alzheimer,cognitive impairment,mci,cerebellar,neurocognitive,lewy,pick's,corticobasal,cerebral,cerebrovascular,amnesia,ad,lbd
0,2.0,4.0,7.0,0.0,3.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,40.0,7.0,2.0,0.0,0.0,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,12.0,1.0,0.0,0.0
2,0.0,6.0,37.0,0.0,7.0,0.0,7.0,0.0,4.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
3,4.0,8.0,3.0,0.0,4.0,0.0,5.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16460,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16461,0.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16462,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16463,0.0,7.0,7.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16464,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [137]:
summary_stats.to_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\totals_FINAL_7:13.csv")

## Getting # of Unique Encounters Per EMPI

In [302]:
summary_stats["encounter_count"] = [0] * len(unique_empi)

In [304]:
for i in tqdm(range(len(unique_empi))):
    query = merged_2[merged_2["EMPI"] == unique_empi[i]]
    summary_stats["encounter_count"][i] = len(query)

100%|███████████████████████████████████████████████████████████████████████████| 16465/16465 [00:32<00:00, 514.08it/s]

In [305]:
summary_stats["EMPI"] = unique_empi

In [306]:
summary_stats.head()

,dementia,cognition,memory,mmse,moca,alzheimer,cognitive impairment,mci,cerebellar,neurocognitive,lewy,pick's,corticobasal,cerebral,cerebrovascular,amnesia,ad,lbd,encounter_count,EMPI
0,2.0,4.0,7.0,0.0,3.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,8,100000272
1,40.0,7.0,2.0,0.0,0.0,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,12.0,1.0,0.0,0.0,35,100001150
2,0.0,6.0,37.0,0.0,7.0,0.0,7.0,0.0,4.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,32,100001768
3,4.0,8.0,3.0,0.0,4.0,0.0,5.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,100002288
4,6.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,12,100002702

In [307]:
summary_stats.to_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\totals_everything.csv")

In [ ]:
totals = pd.read_excel(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\100_patients_verification.xlsx", sheet_name = "Sheet1", index_col = 0)

In [58]:
len(totals["PatientEncounterID"].unique())

In [ ]:
len(totals["merged_regex_sent"].unique())

## Compiling Table 1

In [24]:
regex = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\APOE-SLAT\EDA\Getting_Data\keywords.csv")

In [25]:
len(regex)

18

In [41]:
keywords = pd.DataFrame(pd.np.empty((len(regex), 2)) * pd.np.nan)

In [43]:
keywords.columns = ["keyword", "match_count"]

In [47]:
keywords["keyword"] = summary_stats.columns
keywords["match_count"] = [36301, 73923, 82148, 5131, 3876, 13353, 11722, 1758, 18311, 3095, 1431, 23, 48, 33640, 22099, 2686, 705, 53]

In [48]:
keywords

                 keyword  match_count
0               dementia        36301
1              cognition        73923
2                 memory        82148
3                   mmse         5131
4                   moca         3876
5              alzheimer        13353
6   cognitive impairment        11722
7                    mci         1758
8             cerebellar        18311
9         neurocognitive         3095
10                  lewy         1431
11                pick's           23
12          corticobasal           48
13              cerebral        33640
14       cerebrovascular        22099
15               amnesia         2686
16                    ad          705
17                   lbd           53

In [51]:
keywords.to_excel(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\keywords.xlsx")

In [28]:
dem1 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\BioBank\sd587_03212118253982866_6375194824947826181_Dem.csv")

In [29]:
dem1.head()

,EMPI,EPIC_PMRN,MRN_Type,MRN,Gender,Date_of_Birth,Age,Language,Race,Marital_status,Religion,Is_a_veteran,Zip_code,Country,Vital_status,Date_Of_Death\n
0,100093996,1.002347e+10,"PMRN, MGH, BWH, NWH, MEE","10023471500, 2269408, 04235107, 00069879, 7069459",Female,5/16/1954,66,English-ENGLISH,White-WHITE,Married-MARRIED,Lutheran-LUTHERAN,No,2493,United States-UNITED STATES,Not reported as deceased,\n
1,100094956,1.004417e+10,"PMRN, MGH, BWH, NWH, MEE","10044168093, 2990241, 04258836, 11072100, 1059154",Male,6/6/1961,59,English-ENGLISH,White-WHITE,Single-SINGLE,Catholic-CATHOLIC,No,2150,United States-UNITED STATES,Not reported as deceased,\n
2,100094940,1.004417e+10,"PMRN, MGH, BWH, FH, MEE","10044167335, 1104181, 40233769, 10255943, 1276075",Male,11/24/1954,66,English-ENGLISH,White-WHITE,Single-SINGLE,Catholic-CATHOLIC,No,2118,United States-UNITED STATES,Not reported as deceased,\n
3,100098036,1.004434e+10,"PMRN, MGH, BWH, FH, SRH, NWH, NSM, MEE, DFC","10044342664, 1127492, 30280366, 10321842, 0003...",Male,11/15/1931,89,English-ENGLISH,White-WHITE,Married-MARRIED,Catholic-CATHOLIC,Yes,2151,United States-UNITED STATES,Not reported as deceased,\n
4,100096100,1.004423e+10,"PMRN, MGH, BWH, FH, MEE","10044233715, 6306789, 04288601, 01264168, 1081763",Female,7/16/1965,55,English-ENGLISH,Not Recorded-DECLINED,Single-SINGLE,Christian-CHRISTIAN,No,2121,United States-UNITED STATES,Not reported as deceased,\n

In [30]:
dem2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\BioBank\sd587_03212118253982866_6375194824947826182_Dem.csv")

In [33]:
file1 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\APOE-SLAT\EDA\Getting_Data\Biobank_filtered_csv\file1.csv")
file2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\APOE-SLAT\EDA\Getting_Data\Biobank_filtered_csv\file2.csv")

In [34]:
dem = pd.concat([file1, file2])

In [35]:
dem = dem[['EMPI', 'Age']]
dem.head()

        EMPI  Age
0  100093996   67
1  100094940   66
2  100098036   89
3  100096548   71
4  100091372   83

In [36]:
bib1 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\BioBank\sd587_03212118253982866_6375194824947826182_Bib.csv")

In [37]:
bib2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\BioBank\sd587_03212118253982866_6375194824947826181_Bib.csv")

In [38]:
bib1.head()

,Registry_Name,Subject_Id,EMPI,EPIC_PMRN,MGH_MRN,BWH_MRN,FH_MRN,SRH_MRN,NWH_MRN,NSMC_MRN,MCL_MRN,MEE_MRN,DFC_MRN,WDH_MRN\n
0,Biobank,10022676,110721159,1.010214e+10,5402830.0,42201913.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\n
1,Biobank,10059425,112431912,1.011928e+10,5881337.0,NaN,NaN,NaN,NaN,10765011.0,224827.0,NaN,NaN,\n
2,Biobank,10064690,112496560,1.011983e+10,5972900.0,34121467.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\n
3,Biobank,10071889,113045896,1.012156e+10,6060921.0,NaN,NaN,NaN,11149448.0,NaN,NaN,NaN,NaN,\n
4,Biobank,10040671,110985976,1.010450e+10,5649304.0,30645048.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\n

In [39]:
bib2.head()

,Registry_Name,Subject_Id,EMPI,EPIC_PMRN,MGH_MRN,BWH_MRN,FH_MRN,SRH_MRN,NWH_MRN,NSMC_MRN,MCL_MRN,MEE_MRN,DFC_MRN,WDH_MRN\n
0,Biobank,10070716,107184291,1.003113e+10,3512141.0,29632890.0,1306256.0,NaN,10356542.0,NaN,NaN,7621981.0,NaN,\n
1,Biobank,10060295,107092651,1.006235e+10,5953387.0,27702232.0,NaN,NaN,NaN,NaN,NaN,NaN,596421.0,\n
2,Biobank,10030565,107248715,1.006887e+10,6362516.0,28084887.0,NaN,NaN,NaN,10494629.0,NaN,NaN,NaN,\n
3,Biobank,10034983,107377411,1.003052e+10,5887395.0,NaN,NaN,NaN,395139.0,NaN,NaN,9414562.0,NaN,\n
4,Biobank,10038244,107494211,1.007376e+10,NaN,20961207.0,10149866.0,381049.0,NaN,NaN,NaN,9553597.0,628878.0,\n

In [40]:
bib = pd.concat([bib1, bib2])
bib = bib[["Subject_Id", "EMPI"]]

In [41]:
bib.head()

   Subject_Id       EMPI
0    10022676  110721159
1    10059425  112431912
2    10064690  112496560
3    10071889  113045896
4    10040671  110985976

In [42]:
len(bib["EMPI"].unique())

37793

In [43]:
apoe = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\BioBank\Partners_biobank_APOE_nodup.csv")
apoe.columns

Index(['subject_id', 'Gender', 'Age', 'Race', 'Ethnicity', 'Vital Status',
       'array_mega', 'array_meg', 'array_gsa', 'array_mega_ex',
       'Affection.Status', 'fa_had_AD', 'mo_had_AD', 'sib_had_AD', 'rs7412_T',
       'rs429358_C', 'APOE', 'EMPI', 'DOB', 'Age.1', 'Vital_Status',
       'APOE_dosage', 'AD status'],
      dtype='object')

In [45]:
apoe.head()

,subject_id,Gender,Age,Race,Ethnicity,Vital Status,array_mega,array_meg,array_gsa,array_mega_ex,...,sib_had_AD,rs7412_T,rs429358_C,APOE,EMPI,DOB,Age.1,Vital_Status,APOE_dosage,AD status
0,10000015,F,75.0,Black,Non-Hispanic,Deceased,No,Yes,No,No,...,No,0,0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
1,10000042,F,49.0,White,Non-Hispanic,Living,No,Yes,No,No,...,No,0,0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
2,10000045,F,74.0,White,Non-Hispanic,Deceased,No,Yes,No,No,...,No,0,0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
3,10000046,M,75.0,White,Non-Hispanic,Deceased,No,Yes,No,No,...,No,0,0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
4,10000048,F,66.0,White,Non-Hispanic,Living,No,Yes,No,No,...,No,1,0,e2/e3,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
empi = pd.DataFrame(unique_empi)
empi.columns = ['EMPI']

In [54]:
empi.head()

        EMPI
0  100000272
1  100001150
2  100001768
3  100002288
4  100002702

In [55]:
empi = pd.merge(empi, dem, left_on = 'EMPI', right_on = 'EMPI', how = 'left')

In [56]:
empi.head()

        EMPI  Age
0  100000272   87
1  100001150   95
2  100001768   73
3  100002288   98
4  100002702   74

In [57]:
dem[dem['EMPI'] == 100001150]

           EMPI  Age
7409  100001150   95

In [58]:
empi = pd.merge(empi, bib, left_on = 'EMPI', right_on = 'EMPI', how = 'left')

In [59]:
len(empi)

16465

In [60]:
apoe.columns = ['Subject_Id', 'Gender', 'Age', 'Race', 'Ethnicity', 'Vital Status',
       'array_mega', 'array_meg', 'array_gsa', 'array_mega_ex',
       'Affection.Status', 'fa_had_AD', 'mo_had_AD', 'sib_had_AD', 'rs7412_T',
       'rs429358_C', 'APOE', 'EMPI', 'DOB', 'Age.1', 'Vital_Status',
       'APOE_dosage', 'AD status']

In [81]:
apoe.head()

,Subject_Id,Gender,Age,Race,Ethnicity,Vital Status,array_mega,array_meg,array_gsa,array_mega_ex,...,sib_had_AD,rs7412_T,rs429358_C,APOE,EMPI,DOB,Age.1,Vital_Status,APOE_dosage,AD status
0,10000015,F,75.0,Black,Non-Hispanic,Deceased,No,Yes,No,No,...,No,0,0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
1,10000042,F,49.0,White,Non-Hispanic,Living,No,Yes,No,No,...,No,0,0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
2,10000045,F,74.0,White,Non-Hispanic,Deceased,No,Yes,No,No,...,No,0,0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
3,10000046,M,75.0,White,Non-Hispanic,Deceased,No,Yes,No,No,...,No,0,0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
4,10000048,F,66.0,White,Non-Hispanic,Living,No,Yes,No,No,...,No,1,0,e2/e3,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
empi.columns

Index(['EMPI', 'Age', 'Subject_Id'], dtype='object')

In [62]:
empi = pd.merge(empi, apoe, left_on = 'Subject_Id', right_on = 'Subject_Id', how = 'left')

In [63]:
empi.head()

,EMPI_x,Age_x,Subject_Id,Gender,Age_y,Race,Ethnicity,Vital Status,array_mega,array_meg,...,sib_had_AD,rs7412_T,rs429358_C,APOE,EMPI_y,DOB,Age.1,Vital_Status,APOE_dosage,AD status
0,100000272,87,10042180,M,87.0,Black,Non-Hispanic,Living,No,Yes,...,No,0.0,0.0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
1,100001150,95,10037423,F,91.0,Black,Non-Hispanic,Deceased,No,Yes,...,No,0.0,0.0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
2,100001768,73,10053858,M,73.0,Black,Non-Hispanic,Living,No,Yes,...,No,0.0,1.0,e3/e4,NaN,NaN,NaN,NaN,NaN,NaN
3,100002288,98,10004537,M,98.0,White,Non-Hispanic,Deceased,No,No,...,No,0.0,0.0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
4,100002702,74,10119609,M,73.0,Black,Non-Hispanic,Living,No,No,...,No,0.0,0.0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
empi["Vital_Status"].value_counts()

Living      14297
Deceased     2131
Name: Vital_Status, dtype: int64

In [65]:
empi = empi.drop(['Age_y', 'EMPI_y', 'Age.1', 'Vital_Status'], axis = 1)

In [66]:
empi.columns = ['EMPI', 'Age', 'Subject_Id', 'Gender', 'Race', 'Ethnicity',
       'Vital_Status', 'array_mega', 'array_meg', 'array_gsa', 'array_mega_ex',
       'Affection.Status', 'fa_had_AD', 'mo_had_AD', 'sib_had_AD', 'rs7412_T',
       'rs429358_C', 'APOE', 'DOB', 'APOE_dosage', 'AD status']

In [67]:
len(empi)

16465

In [68]:
len(unique_empi)

16465

In [277]:
## verifiying that data for all empis are found
for i in unique_empi:
    query = empi[empi["EMPI"] == i]
    if (len(query) != 1):
        print(i)

In [280]:
empi.head()

,EMPI,Age,Subject_Id,Gender,Race,Ethnicity,Vital_Status,array_mega,array_meg,array_gsa,...,Affection.Status,fa_had_AD,mo_had_AD,sib_had_AD,rs7412_T,rs429358_C,APOE,DOB,APOE_dosage,AD status
0,100000272,87,10042180,M,Black,Non-Hispanic,Living,No,Yes,No,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
1,100001150,95,10037423,F,Black,Non-Hispanic,Deceased,No,Yes,No,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
2,100001768,73,10053858,M,Black,Non-Hispanic,Living,No,Yes,No,...,0.0,No,No,No,0.0,1.0,e3/e4,NaN,NaN,NaN
3,100002288,98,10004537,M,White,Non-Hispanic,Deceased,No,No,No,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
4,100002702,74,10119609,M,Black,Non-Hispanic,Living,No,No,Yes,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN

In [74]:
empi.to_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\empi_dataset.csv")

In [396]:
empi["Age"].median()

72.0

In [73]:
empi["APOE"].isna().sum()

37

In [77]:
empi["Ethnicity"].value_counts()

Non-Hispanic    16053
Hispanic          375
Name: Ethnicity, dtype: int64

In [86]:
apoe[apoe["Subject_Id"] == 10092259]

Empty DataFrame
Columns: [Subject_Id, Gender, Age, Race, Ethnicity, Vital Status, array_mega, array_meg, array_gsa, array_mega_ex, Affection.Status, fa_had_AD, mo_had_AD, sib_had_AD, rs7412_T, rs429358_C, APOE, EMPI, DOB, Age.1, Vital_Status, APOE_dosage, AD status]
Index: []

[0 rows x 23 columns]

In [79]:
empi[empi["Ethnicity"].isnull()]

,EMPI,Age,Subject_Id,Gender,Race,Ethnicity,Vital_Status,array_mega,array_meg,array_gsa,...,Affection.Status,fa_had_AD,mo_had_AD,sib_had_AD,rs7412_T,rs429358_C,APOE,DOB,APOE_dosage,AD status
1369,100566134,79,10005760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1910,101272386,70,10092259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2817,103302871,71,10034165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2864,103401919,62,10021520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3083,104131445,70,10065351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3213,104434122,72,10050297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3397,104846067,69,10070713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3632,105444588,68,10089745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4208,106594083,67,10069115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4384,106950781,71,10056938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4489,107158726,64,10030371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4572,107359494,66,10059420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5050,110961570,62,10069988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5263,111505997,70,10032301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6339,100141139,62,10020838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6947,100274613,71,10032478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7157,100344755,71,10010633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7214,100355466,62,10046475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8070,100617631,66,10030764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8490,100855298,64,10040264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9648,101766574,69,10120458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9657,101770739,61,10056767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9882,101959132,70,10076421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9965,102020367,65,10035586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10446,102470097,83,10079101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10988,103029314,66,10011881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10994,103040962,63,10083002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11016,103097401,66,10035331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11499,103789921,72,10043979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11822,104297481,68,10096087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11920,104390508,70,10096300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12270,104772819,69,10049239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12860,105537030,68,10081824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13070,105807236,63,10123579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15039,108951869,64,10038537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15746,111132607,63,10010470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15795,111172213,68,10051162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Drop all rows with patient ids that have null table 1 values

In [243]:
everything = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\apoe_padded_matches_EVERYTHING.csv")

In [244]:
len(everything)

239629

In [245]:
239629+40471

280100

In [231]:
d1 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\1\Padded_Matches\apoe_1_not_padded_matches.csv")
d2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\2\Padded_Matches\apoe_2_not_padded_matches.csv")
d3 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\3\Padded_Matches\apoe_3_not_padded_matches.csv")
d4 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\4\Padded_Matches\apoe_4_not_padded_matches.csv")
d5 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\5\Padded_Matches\apoe_5_not_padded_matches.csv")

In [232]:
len(d1), len(d2), len(d3), len(d4), len(d5)

(8624, 7496, 7591, 8349, 8411)

In [233]:
not_padded = pd.concat([d1, d2, d3, d4, d5])

In [246]:
len(not_padded)

40471

In [234]:
not_padded.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,regex_match,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,sequence_level_regex_location,sequence_level_regex_match,char_count,note_char_count
0,7,7,25,25.0,100000272,10040002098,Z6352398,3.329631e+09,2020-11-20 00:00:00.0000000,Telemedicine - audio only,...,['cognition'],1,"[(100, 110)]","[(181, 390), (479, 688), (2048, 2269), (6184, ...","------- ial Source of info:? Patient, Chart Mo...","[' cognition', ' memory', ' cognitive impairme...","[(2661, 2669), (108, 117), (326, 335), (989, 9...","['dementia', 'cognition', 'memory', 'moca', 'c...",2760,NaN
1,43,43,129,129.0,100001150,10027033512,Z6353136,3.085646e+09,2015-07-14 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(1496, 1704), (2465, 2675), (4481, 4687), (54...",------- ory is obtained from patient and pt's ...,"[' dementia', ' memory', ' cerebellar']","[(108, 116), (1348, 1356), (1565, 1573), (544,...","['dementia', 'memory', 'cerebellar']",1869,NaN
2,45,45,141,141.0,100001150,10027033512,Z6353136,3.114434e+09,2016-05-19 00:00:00.0000000,Office Visit,...,['Dementia'],1,"[(100, 109)]","[(245, 596), (1735, 2042), (2951, 3159)]",------- ed during the visit to clarify patient...,"[' cognition', ' dementia', ' cognitive impair...","[(108, 116), (251, 259), (784, 792), (566, 575...","['dementia', 'cognition', 'cognitive impairment']",886,NaN
3,47,47,147,147.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(128, 505), (5897, 6105), (9800, 10008)]",------- Hospital Emergency Department History...,[' dementia'],"[(108, 116), (277, 285), (494, 502)]",['dementia'],813,NaN
4,50,50,153,153.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(258, 466), (903, 1110), (1193, 1401), (5953,...",------- emale who presents with syncope. Ms. B...,"[' amnesia', ' dementia', ' memory']","[(108, 116), (541, 549), (1190, 1198), (758, 7...","['dementia', 'memory', 'amnesia']",1297,NaN

In [151]:
everything.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,...,regex_match,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,padded_merged_row_location,padded_merged_regex_sent,padded_char_count,note_char_count
0,0,0,0,0,0.0,100000272,10040002098,Z6352398,3.076070e+09,2015-06-17 00:00:00.0000000,...,['cerebral'],1,"[(100, 109)]","[(5750, 5958)]",------- ncer. She passed secondary to this. He...,[' cerebral'],"(5457, 6251)",ked at HMS in the department of psychobiology ...,794,19217
1,1,1,1,1,1.0,100000272,10040002098,Z6352398,3.076214e+09,2015-07-16 00:00:00.0000000,...,['memory'],1,"[(100, 107)]","[(3543, 3749)]",------- a. Skin: No rashes or lesions. Neurolo...,[' memory'],"(3248, 4044)",or lymphadenopathy. Chest: Clear to auscultati...,796,5850
2,2,2,2,14,14.0,100000272,10040002098,Z6352398,3.242118e+09,2019-03-14 00:00:00.0000000,...,['dementia'],1,"[(100, 109)]","[(8641, 8849)]","------- ractures, obesity, insulin resistance,...",[' dementia'],"(8345, 9145)",ession alone in the meta-analysis. We discusse...,800,13298
3,3,3,3,15,15.0,100000272,10040002098,Z6352398,3.322836e+09,2020-12-04 00:00:00.0000000,...,['MOCA'],1,"[(100, 105)]","[(948, 1152), (4778, 4987), (5004, 5331)]",------- accept for this week when he ran out ...,"[' moca', ' cognition', ' memory']","[(930, 1152), (4778, 4987), (5004, 5349)]",------- ing tylenol really accept for this we...,803,8711
4,4,4,4,20,20.0,100000272,10040002098,Z6352398,3.325561e+09,2020-09-18 00:00:00.0000000,...,['cognition'],1,"[(100, 110)]","[(5367, 5576), (5593, 5812)]",------- ue Tylenol 1g q8 as needed - If pain w...,"[' cognition', ' memory']","[(5188, 5576), (5593, 5991)]",------- in is related to cancer. Reassuringly...,804,9145

In [201]:
not_padded.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'EMPI', 'MRN', 'PatientID', 'PatientEncounterID', 'ContactDTS',
       'EncounterTypeDSC', 'NoteID', 'InpatientNoteTypeDSC', 'buckets',
       'NoteCSNID', 'LineNBR', 'NoteTXT', 'regex_location', 'regex_sent',
       'regex_match', 'match_count', 'pruned_regex_location',
       'merged_row_location', 'merged_regex_sent', 'merged_regex_match',
       'sequence_level_regex_location', 'sequence_level_regex_match',
       'char_count', 'note_char_count'],
      dtype='object')

In [235]:
not_padded.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,regex_match,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,sequence_level_regex_location,sequence_level_regex_match,char_count,note_char_count
0,7,7,25,25.0,100000272,10040002098,Z6352398,3.329631e+09,2020-11-20 00:00:00.0000000,Telemedicine - audio only,...,['cognition'],1,"[(100, 110)]","[(181, 390), (479, 688), (2048, 2269), (6184, ...","------- ial Source of info:? Patient, Chart Mo...","[' cognition', ' memory', ' cognitive impairme...","[(2661, 2669), (108, 117), (326, 335), (989, 9...","['dementia', 'cognition', 'memory', 'moca', 'c...",2760,NaN
1,43,43,129,129.0,100001150,10027033512,Z6353136,3.085646e+09,2015-07-14 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(1496, 1704), (2465, 2675), (4481, 4687), (54...",------- ory is obtained from patient and pt's ...,"[' dementia', ' memory', ' cerebellar']","[(108, 116), (1348, 1356), (1565, 1573), (544,...","['dementia', 'memory', 'cerebellar']",1869,NaN
2,45,45,141,141.0,100001150,10027033512,Z6353136,3.114434e+09,2016-05-19 00:00:00.0000000,Office Visit,...,['Dementia'],1,"[(100, 109)]","[(245, 596), (1735, 2042), (2951, 3159)]",------- ed during the visit to clarify patient...,"[' cognition', ' dementia', ' cognitive impair...","[(108, 116), (251, 259), (784, 792), (566, 575...","['dementia', 'cognition', 'cognitive impairment']",886,NaN
3,47,47,147,147.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(128, 505), (5897, 6105), (9800, 10008)]",------- Hospital Emergency Department History...,[' dementia'],"[(108, 116), (277, 285), (494, 502)]",['dementia'],813,NaN
4,50,50,153,153.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(258, 466), (903, 1110), (1193, 1401), (5953,...",------- emale who presents with syncope. Ms. B...,"[' amnesia', ' dementia', ' memory']","[(108, 116), (541, 549), (1190, 1198), (758, 7...","['dementia', 'memory', 'amnesia']",1297,NaN

In [271]:
length = len(everything)
length

239629

In [230]:
not_padded.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,regex_match,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,padded_merged_row_location,padded_merged_regex_sent,padded_char_count,note_char_count
0,7,7,25,25.0,100000272,10040002098,Z6352398,3.329631e+09,2020-11-20 00:00:00.0000000,Telemedicine - audio only,...,['cognition'],1,"[(100, 110)]","[(181, 390), (479, 688), (2048, 2269), (6184, ...","------- ial Source of info:? Patient, Chart Mo...","[' cognition', ' memory', ' cognitive impairme...","[(2661, 2669), (108, 117), (326, 335), (989, 9...","['dementia', 'cognition', 'memory', 'moca', 'c...",2760,NaN
1,43,43,129,129.0,100001150,10027033512,Z6353136,3.085646e+09,2015-07-14 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(1496, 1704), (2465, 2675), (4481, 4687), (54...",------- ory is obtained from patient and pt's ...,"[' dementia', ' memory', ' cerebellar']","[(108, 116), (1348, 1356), (1565, 1573), (544,...","['dementia', 'memory', 'cerebellar']",1869,NaN
2,45,45,141,141.0,100001150,10027033512,Z6353136,3.114434e+09,2016-05-19 00:00:00.0000000,Office Visit,...,['Dementia'],1,"[(100, 109)]","[(245, 596), (1735, 2042), (2951, 3159)]",------- ed during the visit to clarify patient...,"[' cognition', ' dementia', ' cognitive impair...","[(108, 116), (251, 259), (784, 792), (566, 575...","['dementia', 'cognition', 'cognitive impairment']",886,NaN
3,47,47,147,147.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(128, 505), (5897, 6105), (9800, 10008)]",------- Hospital Emergency Department History...,[' dementia'],"[(108, 116), (277, 285), (494, 502)]",['dementia'],813,NaN
4,50,50,153,153.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(258, 466), (903, 1110), (1193, 1401), (5953,...",------- emale who presents with syncope. Ms. B...,"[' amnesia', ' dementia', ' memory']","[(108, 116), (541, 549), (1190, 1198), (758, 7...","['dementia', 'memory', 'amnesia']",1297,NaN

In [264]:
len(not_padded) + len(everything)

280100

In [166]:
drop = empi[empi["Ethnicity"].isnull()]['EMPI'].to_list()

In [167]:
len(drop)

37

In [397]:
drop

[100566134,
 101272386,
 103302871,
 103401919,
 104131445,
 104434122,
 104846067,
 105444588,
 106594083,
 106950781,
 107158726,
 107359494,
 110961570,
 111505997,
 100141139,
 100274613,
 100344755,
 100355466,
 100617631,
 100855298,
 101766574,
 101770739,
 101959132,
 102020367,
 102470097,
 103029314,
 103040962,
 103097401,
 103789921,
 104297481,
 104390508,
 104772819,
 105537030,
 105807236,
 108951869,
 111132607,
 111172213]

In [156]:
everything[everything["EMPI"] == 100566134]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,...,regex_match,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,padded_merged_row_location,padded_merged_regex_sent,padded_char_count,note_char_count
65177,14600,18187,18187,77168,NaN,100566134,10070428643,Z10251992,3.019065e+09,2014-09-06 00:00:00.0000000,...,"[""memory""]",1,"[(95, 102)]","[(2272, 2478), (5179, 5383)]",------- sion (pleural to peritoneal) for pleur...,"[' moca', ' memory']","[(2084, 2478), (5179, 5571)]","------- ved in setting of infx, replaced with...",804,11192
65178,14601,18188,18188,77170,NaN,100566134,10070428643,Z10251992,3.047394e+09,2005-02-18 00:00:00.0000000,...,"[""memory""]",1,"[(96, 103)]","[(419, 625)]",------- SS: Minimal. INDICATIONS: This t elder...,[' memory'],"[(124, 920)]","RT NAME: HOULIHAN, THOMAS D UNIT NUMBER: 324-3...",796,3382
65179,14602,18190,18190,77173,NaN,100566134,10070428643,Z10251992,3.054947e+09,2005-10-28 00:00:00.0000000,...,"[""cerebral""]",1,"[(91, 100)]","[(3077, 3285)]",------- ntricles appeared larger. At that time...,[' cerebral'],"[(2784, 3578)]",that time he was noted to have severe headach...,794,6393
65180,14603,18191,18191,77174,NaN,100566134,10070428643,Z10251992,3.110490e+09,2016-03-18 00:00:00.0000000,...,"[""memory""]",1,"[(74, 81)]","[(93, 299)]",------- ----------------Interval: He had GI pr...,[' memory'],"[(0, 750)]",----------------------------------------------...,750,990
65181,14604,18192,18192,77175,NaN,100566134,10070428643,Z10251992,3.126946e+09,2016-08-06 00:00:00.0000000,...,"[""dementia""]",1,"[(100, 109)]","[(193, 401)]",------- ient presents with • took to many card...,[' dementia'],"[(0, 750)]",----------------------------------------------...,750,4713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65543,14966,18648,18648,78773,NaN,100566134,10070428643,Z10251992,3.371363e+09,2021-05-05 00:00:00.0000000,...,"[""Alzheimer""]",1,"[(98, 108)]","[(242, 451), (1452, 1661)]",------- s Date of Contact:: 5/5/2021 Name of I...,[' alzheimer'],"[(55, 451), (1452, 1794)]",------- -------------------------------------...,756,1795
65544,14967,18651,18651,78787,NaN,100566134,10070428643,Z10251992,3.371842e+09,2021-05-06 00:00:00.0000000,...,"[""Alzheimer""]",1,"[(90, 100)]","[(1360, 1569), (2202, 2459), (4645, 4853)]",------- changed multichamber cardiomegaly. CT ...,"[' alzheimer', ' mci', ' dementia', ' cognitiv...","[(1309, 1569), (2202, 2459), (4645, 4904)]",------- pleural effusion and right pleural e...,803,6448
65545,14968,18652,18652,78792,NaN,100566134,10070428643,Z10251992,3.371842e+09,2021-05-06 00:00:00.0000000,...,"[""Alzheimer""]",1,"[(101, 111)]","[(2842, 3051)]","------- , MD [PM] Peter M Mullins, MD Relevant...",[' alzheimer'],"[(2547, 3346)]",represent COVID-19. [Cov19Aty] Unchanged right...,799,5729
65546,14969,18654,18654,78794,NaN,100566134,10070428643,Z10251992,3.371842e+09,2021-05-06 00:00:00.0000000,...,"[""Alzheimer""]",1,"[(90, 100)]","[(2729, 2938), (3571, 3828)]",------- changed multichamber cardiomegaly. CT ...,"[' alzheimer', ' mci', ' cognitive impairment']","[(2568, 2938), (3571, 3989)]",------- nged right lower lobe consolidation w...,806,11853
65547,14970,18658,18658,78815,NaN,100566134,10070428643,Z10251992,3.378865e+09,2021-06-14 00:00:00.0000000,...,"[""dementia"", ""Dementia""]",2,"[(98, 107), (111, 120)]","[(807, 1366)]",------- a (+) Carcinoma of prostate NEURO/MUSC...,"[' alzheimer', ' dementia']","[(690, 1483)]",+) Dysphagia (+) GERD (gastroesophageal reflux...,793,5690

In [160]:
not_padded_empi = not_padded["EMPI"].unique().tolist()
padded_empi = everything["EMPI"].unique().tolist()

len(not_padded_empi), len(padded_empi)

(5562, 16323)

In [161]:
x = everything[everything["EMPI"] != 1243534]
len(x)

239629

In [162]:
x = everything[everything["EMPI"] != 100566134]
y = not_padded[not_padded["EMPI"] != 100566134]
print(len(x), len(y))

239258 40390

In [187]:
count = 0
for i in range(len(drop)):
    count += len(everything[everything["EMPI"] == drop[i]])
    count += len(not_padded[not_padded["EMPI"] == drop[i]])
print(count)

876

In [142]:
for i in range(len(drop)):
    if (len(not_padded[not_padded["EMPI"] == drop[i]])==0 and len(everything[everything["EMPI"] == drop[i]])==0):
        print(drop[i])

In [180]:
x = not_padded
y = everything

In [184]:
not_padded_clone = not_padded
everything_clone = everything

In [185]:
for i in range(len(drop)):
    if (len(not_padded_clone[not_padded_clone["EMPI"] == drop[i]]) != 0):
        x = not_padded_clone[not_padded_clone["EMPI"] != drop[i]]
        not_padded_clone = x
    if (len(everything_clone[everything_clone["EMPI"] == drop[i]]) != 0):
        y = everything_clone[everything_clone["EMPI"] != drop[i]]
        everything_clone = y
    print(len(x),len(y), len(everything_clone), len(not_padded_clone))

40390 239258 239258 40390
40363 239230 239230 40363
40362 239217 239217 40362
40361 239204 239204 40361
40354 239180 239180 40354
40353 239158 239158 40353
40351 239157 239157 40351
40350 239138 239138 40350
40349 239132 239132 40349
40348 239129 239129 40348
40315 239085 239085 40315
40312 239071 239071 40312
40311 239068 239068 40311
40305 239028 239028 40305
40305 239026 239026 40305
40305 239023 239023 40305
40305 239019 239019 40305
40305 239018 239018 40305
40305 239011 239011 40305
40305 239009 239009 40305
40305 239003 239003 40305
40305 238991 238991 40305
40305 238985 238985 40305
40305 238977 238977 40305
40305 238974 238974 40305
40305 238973 238973 40305
40305 238971 238971 40305
40305 238963 238963 40305
40305 238961 238961 40305
40305 238958 238958 40305
40305 238941 238941 40305
40305 238938 238938 40305
40305 238933 238933 40305
40305 238928 238928 40305
40305 238927 238927 40305
40305 238926 238926 40305
40305 238919 238919 40305

In [189]:
not_padded = x
everything = y

In [193]:
len(not_padded), len(everything)

(40305, 238919)

In [263]:
everything[everything["EMPI"] == (drop[36])]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,regex_match,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,padded_merged_row_location,padded_merged_regex_sent,padded_char_count,note_char_count
226445,35175,44359,44359,199819,111172213,5733223,Z14985565,3.142503e+09,2017-03-09 00:00:00.0000000,Office Visit,...,"[""memory""]",1,"[(98, 105)]","[(2763, 2969)]",------- : The patient was alert and oriented t...,[' memory'],"[(2469, 3263)]",• No Known Allergies Physical Exam Vitals: 03/...,794,4129
226446,35176,44360,44360,199821,111172213,5733223,Z14985565,3.165322e+09,2017-08-03 00:00:00.0000000,Office Visit,...,"[""memory""]",1,"[(97, 104)]","[(638, 844)]",------- nd moved to California 30 years ago be...,[' memory'],"[(342, 1140)]",uation and input regarding treatment of: 1. Qu...,798,9230
226447,35177,44361,44361,199822,111172213,5733223,Z14985565,3.170016e+09,2017-11-20 00:00:00.0000000,Office Visit,...,"[""cognition""]",1,"[(97, 107)]","[(8286, 8495)]",------- or osteoporosis - DXA Screening The pa...,[' cognition'],"[(7994, 8787)]",nt wakings. Assessment & Plan: - ambien # 28 x...,793,8885
226448,35178,44362,44362,199823,111172213,5733223,Z14985565,3.198953e+09,2018-05-10 00:00:00.0000000,Office Visit,...,"[""cognition""]",1,"[(96, 106)]","[(6331, 6540)]",------- nge Dispense: 0.5 mL; Refill: 0 The pa...,[' cognition'],"[(6037, 6834)]","& PLAN 1. Chest pain, unspecified type Overvie...",797,6922
226449,35179,44363,44363,199824,111172213,5733223,Z14985565,3.231608e+09,2019-01-17 00:00:00.0000000,Office Visit,...,"[""Cognition"", ""memory""]",2,"[(97, 107), (181, 188)]","[(829, 1119), (7350, 7559)]",------- om 1/17/2019 in Faulkner Community Phy...,"[' cognition', ' memory']","[(686, 1119), (7350, 7702)]",------- ancial management Services: none Heal...,803,7780
226450,35180,44364,44364,199839,111172213,5733223,Z14985565,3.332810e+09,2020-10-21 00:00:00.0000000,Hospital Encounter,...,"[""Cognition""]",1,"[(97, 107)]","[(9925, 10134)]","------- t, non-tender and non-distended. There...",[' cognition'],"[(9633, 10426)]",5) Discharge Exam Significant Discharge Exam F...,793,10971
226451,35181,44367,44367,199859,111172213,5733223,Z14985565,3.380106e+09,2021-06-18 00:00:00.0000000,Hospital Encounter,...,"[""Cognition""]",1,"[(90, 100)]","[(12592, 12801)]",------- dependent edema. Neurological: Patient...,[' cognition'],"[(12299, 13094)]",rine. Lungs: Normal effort and normal respirat...,795,13702

In [194]:
not_padded.to_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\not_padded_matches_7_14.csv", index = False)

In [195]:
everything.to_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\padded_matches_7_14.csv", index = False)

In [261]:
test = pd.concat([not_padded, everything])

In [262]:
len(test["PatientID"].unique())

16465

In [265]:
e = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\padded_matches_7_14.csv")
n = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\not_padded_matches_7_14.csv")

In [309]:
len(e), len(n)

(238919, 40305)

In [311]:
e.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,...,regex_match,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,padded_merged_row_location,padded_merged_regex_sent,padded_char_count,note_char_count
0,0,0,0,0,0.0,100000272,10040002098,Z6352398,3.076070e+09,2015-06-17 00:00:00.0000000,...,['cerebral'],1,"[(100, 109)]","[(5750, 5958)]",------- ncer. She passed secondary to this. He...,[' cerebral'],"(5457, 6251)",ked at HMS in the department of psychobiology ...,794,19217
1,1,1,1,1,1.0,100000272,10040002098,Z6352398,3.076214e+09,2015-07-16 00:00:00.0000000,...,['memory'],1,"[(100, 107)]","[(3543, 3749)]",------- a. Skin: No rashes or lesions. Neurolo...,[' memory'],"(3248, 4044)",or lymphadenopathy. Chest: Clear to auscultati...,796,5850
2,2,2,2,14,14.0,100000272,10040002098,Z6352398,3.242118e+09,2019-03-14 00:00:00.0000000,...,['dementia'],1,"[(100, 109)]","[(8641, 8849)]","------- ractures, obesity, insulin resistance,...",[' dementia'],"(8345, 9145)",ession alone in the meta-analysis. We discusse...,800,13298
3,3,3,3,15,15.0,100000272,10040002098,Z6352398,3.322836e+09,2020-12-04 00:00:00.0000000,...,['MOCA'],1,"[(100, 105)]","[(948, 1152), (4778, 4987), (5004, 5331)]",------- accept for this week when he ran out ...,"[' moca', ' cognition', ' memory']","[(930, 1152), (4778, 4987), (5004, 5349)]",------- ing tylenol really accept for this we...,803,8711
4,4,4,4,20,20.0,100000272,10040002098,Z6352398,3.325561e+09,2020-09-18 00:00:00.0000000,...,['cognition'],1,"[(100, 110)]","[(5367, 5576), (5593, 5812)]",------- ue Tylenol 1g q8 as needed - If pain w...,"[' cognition', ' memory']","[(5188, 5576), (5593, 5991)]",------- in is related to cancer. Reassuringly...,804,9145

In [314]:
n.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,regex_match,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,sequence_level_regex_location,sequence_level_regex_match,char_count,note_char_count
0,7,7,25,25.0,100000272,10040002098,Z6352398,3.329631e+09,2020-11-20 00:00:00.0000000,Telemedicine - audio only,...,['cognition'],1,"[(100, 110)]","[(181, 390), (479, 688), (2048, 2269), (6184, ...","------- ial Source of info:? Patient, Chart Mo...","[' cognition', ' memory', ' cognitive impairme...","[(2661, 2669), (108, 117), (326, 335), (989, 9...","['dementia', 'cognition', 'memory', 'moca', 'c...",2760,NaN
1,43,43,129,129.0,100001150,10027033512,Z6353136,3.085646e+09,2015-07-14 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(1496, 1704), (2465, 2675), (4481, 4687), (54...",------- ory is obtained from patient and pt's ...,"[' dementia', ' memory', ' cerebellar']","[(108, 116), (1348, 1356), (1565, 1573), (544,...","['dementia', 'memory', 'cerebellar']",1869,NaN
2,45,45,141,141.0,100001150,10027033512,Z6353136,3.114434e+09,2016-05-19 00:00:00.0000000,Office Visit,...,['Dementia'],1,"[(100, 109)]","[(245, 596), (1735, 2042), (2951, 3159)]",------- ed during the visit to clarify patient...,"[' cognition', ' dementia', ' cognitive impair...","[(108, 116), (251, 259), (784, 792), (566, 575...","['dementia', 'cognition', 'cognitive impairment']",886,NaN
3,47,47,147,147.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(128, 505), (5897, 6105), (9800, 10008)]",------- Hospital Emergency Department History...,[' dementia'],"[(108, 116), (277, 285), (494, 502)]",['dementia'],813,NaN
4,50,50,153,153.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(258, 466), (903, 1110), (1193, 1401), (5953,...",------- emale who presents with syncope. Ms. B...,"[' amnesia', ' dementia', ' memory']","[(108, 116), (541, 549), (1190, 1198), (758, 7...","['dementia', 'memory', 'amnesia']",1297,NaN

In [316]:
e.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'EMPI', 'MRN', 'PatientID', 'PatientEncounterID', 'ContactDTS',
       'EncounterTypeDSC', 'NoteID', 'InpatientNoteTypeDSC', 'buckets',
       'NoteCSNID', 'LineNBR', 'NoteTXT', 'regex_location', 'regex_sent',
       'regex_match', 'match_count', 'pruned_regex_location',
       'merged_row_location', 'merged_regex_sent', 'merged_regex_match',
       'padded_merged_row_location', 'padded_merged_regex_sent',
       'padded_char_count', 'note_char_count'],
      dtype='object')

In [315]:
e = e.drop(columns = ['Unnamed: 0.1.1.1.1'], axis = 1) #only run if runtime reset

In [317]:
n.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'EMPI', 'MRN', 'PatientID', 'PatientEncounterID', 'ContactDTS',
       'EncounterTypeDSC', 'NoteID', 'InpatientNoteTypeDSC', 'buckets',
       'NoteCSNID', 'LineNBR', 'NoteTXT', 'regex_location', 'regex_sent',
       'regex_match', 'match_count', 'pruned_regex_location',
       'merged_row_location', 'merged_regex_sent', 'merged_regex_match',
       'sequence_level_regex_location', 'sequence_level_regex_match',
       'char_count', 'note_char_count'],
      dtype='object')

In [322]:
n["padded_merged_regex_sent"] = n["merged_regex_sent"]

In [323]:
n.columns = e.columns

In [324]:
t = pd.concat([e, n])

In [325]:
t

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,regex_match,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,padded_merged_row_location,padded_merged_regex_sent,padded_char_count,note_char_count
0,0,0,0,0.0,100000272,10040002098,Z6352398,3.076070e+09,2015-06-17 00:00:00.0000000,Office Visit,...,['cerebral'],1,"[(100, 109)]","[(5750, 5958)]",------- ncer. She passed secondary to this. He...,[' cerebral'],"(5457, 6251)",ked at HMS in the department of psychobiology ...,794,19217.0
1,1,1,1,1.0,100000272,10040002098,Z6352398,3.076214e+09,2015-07-16 00:00:00.0000000,Office Visit,...,['memory'],1,"[(100, 107)]","[(3543, 3749)]",------- a. Skin: No rashes or lesions. Neurolo...,[' memory'],"(3248, 4044)",or lymphadenopathy. Chest: Clear to auscultati...,796,5850.0
2,2,2,2,14.0,100000272,10040002098,Z6352398,3.242118e+09,2019-03-14 00:00:00.0000000,Office Visit,...,['dementia'],1,"[(100, 109)]","[(8641, 8849)]","------- ractures, obesity, insulin resistance,...",[' dementia'],"(8345, 9145)",ession alone in the meta-analysis. We discusse...,800,13298.0
3,3,3,3,15.0,100000272,10040002098,Z6352398,3.322836e+09,2020-12-04 00:00:00.0000000,Telemedicine - audio only,...,['MOCA'],1,"[(100, 105)]","[(948, 1152), (4778, 4987), (5004, 5331)]",------- accept for this week when he ran out ...,"[' moca', ' cognition', ' memory']","[(930, 1152), (4778, 4987), (5004, 5349)]",------- ing tylenol really accept for this we...,803,8711.0
4,4,4,4,20.0,100000272,10040002098,Z6352398,3.325561e+09,2020-09-18 00:00:00.0000000,Telemedicine - audio only,...,['cognition'],1,"[(100, 110)]","[(5367, 5576), (5593, 5812)]",------- ue Tylenol 1g q8 as needed - If pain w...,"[' cognition', ' memory']","[(5188, 5576), (5593, 5991)]",------- in is related to cancer. Reassuringly...,804,9145.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40300,60817,60817,277874,NaN,113705759,10127549029,Z16320629,3.285425e+09,2020-04-28 00:00:00.0000000,Telemedicine - audio only,...,"[""memory""]",1,"[(97, 104)]","[(1346, 1552), (1603, 1809), (5360, 5569), (59...","------- se ""she took a break"" and wants to dis...","[' memory', ' cognition', ' cerebral', ' cereb...","[(538, 547), (1626, 1635), (1844, 1853), (108,...","------- se ""she took a break"" and wants to dis...",1949,11314.0
40301,60818,60818,277883,NaN,113705759,10127549029,Z16320629,3.305416e+09,2020-09-22 00:00:00.0000000,Telemedicine - audio only,...,"[""memory""]",1,"[(99, 106)]","[(1165, 1371), (4255, 4464), (4876, 5084), (56...","------- all of her medications, including asp...","[' memory', ' cognition', ' cerebral', ' cereb...","[(323, 332), (1411, 1420), (1629, 1638), (108,...","------- all of her medications, including asp...",1734,10113.0
40302,60819,60819,277896,NaN,113705759,10127549029,Z16320629,3.327430e+09,2021-01-25 00:00:00.0000000,Telemedicine,...,"[""cognition""]",1,"[(98, 108)]","[(194, 403), (444, 653), (1326, 1532), (4453, ...","------- ? Patient, Chart, daughter Olga Mode o...","[' cognition', ' cerebral', ' memory', ' cereb...","[(2816, 2824), (108, 117), (326, 335), (974, 9...","------- ? Patient, Chart, daughter Olga Mode o...",3009,12320.0
40303,60820,60820,277912,NaN,113705759,10127549029,Z16320629,3.349755e+09,2021-04-20 00:00:00.0000000,Telemedicine,...,"[""cognition""]",1,"[(98, 108)]","[(202, 411), (452, 661), (3626, 3875), (4946, ...","------- ? Patient, Chart, daughter Olga Mode o...","[' cognition', ' cerebral', ' cognitive impair...","[(2103, 2111), (108, 117), (326, 335), (544, 5...","------- ? Patient, Chart, daughter Olga Mode o...",2835,11250.0
40304,60834,60834,277961,NaN,113708529,10127577079,Z16323433,3.196619e+09,2018-04-16 00:00:00.0000000,Office Visit,...,"[""Cognition""]",1,"[(98, 108)]","[(239, 442), (964, 1167), (4227, 4436), (5937,...","------- h muscle invasive bladder cancer, curr...",[' cognition'],"[(532, 541)]","------- h muscle invasive bladder cancer, curr...",1112,7027.0

In [270]:
len(t)

279224

In [321]:
len(t["PatientID"].unique())

16428

In [269]:
t["padded_merged_regex_sent"].value_counts()

hotics (N0410A) [] Antianxiety agents (N0410B) [] Antidepressants (N0410C) [] Hypnotics (N0410D) [] Steroids [] Narcotics Diagnoses and conditions that present complications or increase risk for pressure ulcers Supporting Documentation [] Delirium (C1600) [] Comatose (B0100) [] Cancer (I0100) [] Peripheral Vascular Disease (I0900) [] Diabetes (I2900) [] Alzheimer's disease (I4200) [] Cerebrovascular Accident (I4500) [] Other dementia (I4800) [] Hemiplegia/hemiparesis (I4900) [] Paraplegia (I5000), Quadriplegia (I5100) [] Multiple sclerosis (I5200) [] Depression (D0300, D0600, I5800) [] Edema [] Severe pulmonary disease (I6200) [] Sepsis (I2100) [] Terminal illness (O0100K) [] Chronic or end-stage renal (I1500), liver, or heart disease (I0400, I0600) [] Pain (J0300) [] Dehydration (J               5
 -------  effective. My Way Program on line or by mail has good lifestyle and behavioral training. __ Trospium Chloride (Sanctura) 20mg by mouth twice a day or 60mg XR once a day Renal clearance so good for people on multiple meds. Lumbar puncture studies show no drug in CSF (around brain).Good memory testing information. __ Solifenacin (Vesicare) 5 to 10 mg by mouth once per day Stronger, higher ra ------- affect thinking in at-risk elderly. __ Darifenacin (Enablex) 7.5 to 15mg by mouth once per day Good memory testing, constipation rates high You should not take these medications if you have: Closed angle glaucoma (open angle OK, get Opthalmology note if any question). Gastric Paresis (slow stomach transit) Renal (kidney) failure: check dosing with nephrologist and avoid Sanctura Liver Failu    5
al acuity (B1000, B1200 = 1) [] Visual field deficit (B1200 = 1) [] Eye pain (J0800) [] Blurred vision [] Double vision [] Sudden loss of vision [] Itching/burning eye [] Indications of eye infection (I8000) Diseases and conditions that can cause visual disturbances Supporting Documentation [] Cerebrovascular accident or transient ischemic attack (I4500) [] Alzheimer's Disease and other dementias (I4200, I4800) [] Myasthenia gravis (I8000, clinical record) [] Multiple sclerosis (I5200) [] Cerebral palsy (I4400) [] Mood (I5800, I5900, I5950, I6000, I6100, D0300, or D0600) or anxiety disorder (I5700) [] Traumatic brain injury (I5500) [] Other (I8000) Functional limitations related to vision problems from clinical record, resident and staff interviews, direct observation Supporting Documen           5
 ------- GH Endoscopy Unit thanks you for allowing us to participate in your care. This form will explain the results of your test and contains your post-procedure instructions. Sedative and narcotic medicines given during your procedure may linger for hours. The medications may also cause some memory loss. Therefore, you may not remember the procedure or the conversations with doctors and nurses th ------- tic medicines given during your procedure may linger for hours. The medications may also cause some memory loss. Therefore, you may not remember the procedure or the conversations with doctors and nurses that took place after the procedure is over. You may notice drowsiness during the remainder of the day. It is essential that a responsible adult escort you home. Do not drive or operate any    5
, hemoptysis, shortness of breath, wheezing or dyspnea on exertion. Cardiovascular: No chest pain or palpitations. No claudication, lower extremities swelling. Denies varicose veins. Gastrointestinal: No heartburn, or dysphagia. No nausea, vomiting, abdominal discomfort, constipation, diarrhea, bleeding per rectum. Neurologic: No seizures, slurred speach, unsteadiness, fall or faint. Denies amnesia, lightheadedness or dizziness. No focal sensory or motor deficit. Psychologic: No depression or anxiety. Hematologic: No bruising, anemia, lymphadenopathy. No prolonged bleeding tendency. Endocrine: No heat or cold intolerance, No polydypsia. Denies change in body hair distribution. Skin: Denies any skin ulcer/lesion. Musculoskeletal: No bone, muscle, or joint pain ?Genitourinary: See HPI f             5
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ..
 disease Stroke Essential hypertension Poor vision Gastroesophageal reflux disease Anxiety disorder Anemia AAA (abdominal aortic aneurysm) Aortic valve insufficiency Depression Hyperlipidemia Elevated prostate specific antigen (PSA) Gastric ulcer Glaucoma suspect Homonymous hemianopia Lung nodule Obstructive sleep apnea syndrome Ophthalmology follow-up encounter Right bundle branch block Syncope Tubular adenoma Routine adult health maintenance Hypertensive heart disease without heart failure Age-related nuclear cataract of both eyes Hypertension Pain in both lower extremities Lightheadedness Memory loss Results Summary Immunizations Administered on Date of Encounter - 3/27/2018 None ------------------------------------------------------------------------------------------------------------        1
4") (05/26/19 1224) BMI (Calculated): 34.6 (05/26/19 1224) Discharge Exam Significant Discharge Exam Findings: Gen: NAD HEENT: pale conjunctivae, dry MM CV: RRR, nl S1 S2, 3/6 systolic cresc-descresc murmur at RUSB w/ radiation to clavicle and carotid, JVP 7 R: CTAB, no W/R/R Abd: S/NT/ND Ext: WWP, trace BUE/BLE edema (improved from admission) Neuro: nonfocal Orientation Level: Oriented X7 Cognition: Follows commands Speech: Clear Vision: Functional with Correction Hearing: Functional Assistive Devices: Eyeglasses Data/Results Results are shown for the following tests if performed (CBC, Chem 7, Mg, Coag). If the patient did not have any of these tests, no results will be shown here. Lab Results Component Value Date/Time WBC 12.84 (H) 05/27/2019 0647 RBC 2.78 (L) 05/27/2019 0647 HGB 8.             1
 ------- mia of digits of hand 12/13/2016 • Melancholia 7/21/2015 • Onychomycosis 5/2/2012 Onychomycosis • Pneumonia 9/2015 hospitalized, resolved • Polycythemia vera • Pulmonary embolism • Splenomegaly 1/14/2016 • TIA (transient ischemic attack) face numbness left side about 2006 • Transient cerebral ischemia 2/8/2008 Transient ischemic attack • Type 2 diabetes mellitus 11/9/2005 DIABETES • Uncoded ------- nt has hypertension. Patient has elevated cholesterol/hyperlipidemia. Neuro/Psych Patient has had a cerebral vascular accident/transient ischemic attack. Endo/Metabolic/Other Patient has chronic diabetes. Hematologic Patient has hypercoaguable state. Physical Exam BP 113/61 Pulse 74 Temp 36.6 °C (97.9 °F) (Oral) Resp 18 Ht 1.829 m (6') Wt 95.8 kg (211 lb 2.1 oz) SpO2 94% BMI 28.63 kg/m2 Air    1
e herself overtime wondered about having bipolar illness, but her doctors dismissed that. It was not until at age 37 she met with current psychiatrist Diane Greer, MD that she was officially diagnosed and successfully medicated for bipolar. After 30 years the Lithium caused kidney problems. Lithium was stopped, pt was hospitalized at McLean Hosp for 9 days and stabilized on new medication. Father lived in Chelsea Soldiers Home with Alzeimers and died two years ago. Mother also died of dementia. Pt's nephew works at Soldiers Home where he runs Temple. Pt attends services there weekly. Pt is politically active at times and social activities are with acquaintances at the Senior Center. ------------------------------------------------------------------------------------------------------------        1
llergies Allergen Reactions • Nsaids (Non-Steroidal Anti-Inflammatory Drug) GI Upset Family History Problem Relation Age of Onset • Heart attack Mother 91 Myocardial Infarction • Uncoded Family History Mother Elevated cholesterol • Hypertension Mother Hypertension • Tongue cancer Mother • Hereditary Non-Polyposis Colorectal Cancer (Lynch Syndrome) Mother • Arthritis Mother • Alzheimer's disease Father Alzheimer • Arthritis Father • Glaucoma Father • Breast cancer Niece • BRCA 1/2 Neg Hx Hx of melanoma: No Hx of NMSC: Yes, father, mother, brother and sister Social History Patient reports that has never smoked. she has never used smokeless tobacco. She reports that she does not drink alcohol or use drugs. From Columbus, OH. Retired professor Physical Exam, Assessment and Plan General                1
Name: padded_merged_regex_sent, Length: 238477, dtype: int64

In [395]:
t

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,padded_merged_row_location,padded_merged_regex_sent,padded_char_count,note_char_count,padded_regex_match
0,0,0,0,0.0,100000272,10040002098,Z6352398,3.076070e+09,2015-06-17 00:00:00.0000000,Office Visit,...,1,"[(100, 109)]","[(5750, 5958)]",------- ncer. She passed secondary to this. He...,[' cerebral'],"(5457, 6251)",ked at HMS in the department of psychobiology ...,794,19217.0,['cerebral']
1,1,1,1,1.0,100000272,10040002098,Z6352398,3.076214e+09,2015-07-16 00:00:00.0000000,Office Visit,...,1,"[(100, 107)]","[(3543, 3749)]",------- a. Skin: No rashes or lesions. Neurolo...,[' memory'],"(3248, 4044)",or lymphadenopathy. Chest: Clear to auscultati...,796,5850.0,['memory']
2,2,2,2,14.0,100000272,10040002098,Z6352398,3.242118e+09,2019-03-14 00:00:00.0000000,Office Visit,...,1,"[(100, 109)]","[(8641, 8849)]","------- ractures, obesity, insulin resistance,...",[' dementia'],"(8345, 9145)",ession alone in the meta-analysis. We discusse...,800,13298.0,['dementia']
3,3,3,3,15.0,100000272,10040002098,Z6352398,3.322836e+09,2020-12-04 00:00:00.0000000,Telemedicine - audio only,...,1,"[(100, 105)]","[(948, 1152), (4778, 4987), (5004, 5331)]",------- accept for this week when he ran out ...,"[' moca', ' cognition', ' memory']","[(930, 1152), (4778, 4987), (5004, 5349)]",------- ing tylenol really accept for this we...,803,8711.0,"['cognition', 'memory', 'moca']"
4,4,4,4,20.0,100000272,10040002098,Z6352398,3.325561e+09,2020-09-18 00:00:00.0000000,Telemedicine - audio only,...,1,"[(100, 110)]","[(5367, 5576), (5593, 5812)]",------- ue Tylenol 1g q8 as needed - If pain w...,"[' cognition', ' memory']","[(5188, 5576), (5593, 5991)]",------- in is related to cancer. Reassuringly...,804,9145.0,"['cognition', 'memory']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40300,60817,60817,277874,NaN,113705759,10127549029,Z16320629,3.285425e+09,2020-04-28 00:00:00.0000000,Telemedicine - audio only,...,1,"[(97, 104)]","[(1346, 1552), (1603, 1809), (5360, 5569), (59...","------- se ""she took a break"" and wants to dis...","[' memory', ' cognition', ' cerebral', ' cereb...","[(538, 547), (1626, 1635), (1844, 1853), (108,...","------- se ""she took a break"" and wants to dis...",1949,11314.0,"['cognition', 'memory', 'cerebellar', 'cerebral']"
40301,60818,60818,277883,NaN,113705759,10127549029,Z16320629,3.305416e+09,2020-09-22 00:00:00.0000000,Telemedicine - audio only,...,1,"[(99, 106)]","[(1165, 1371), (4255, 4464), (4876, 5084), (56...","------- all of her medications, including asp...","[' memory', ' cognition', ' cerebral', ' cereb...","[(323, 332), (1411, 1420), (1629, 1638), (108,...","------- all of her medications, including asp...",1734,10113.0,"['cognition', 'memory', 'cerebellar', 'cerebral']"
40302,60819,60819,277896,NaN,113705759,10127549029,Z16320629,3.327430e+09,2021-01-25 00:00:00.0000000,Telemedicine,...,1,"[(98, 108)]","[(194, 403), (444, 653), (1326, 1532), (4453, ...","------- ? Patient, Chart, daughter Olga Mode o...","[' cognition', ' cerebral', ' memory', ' cereb...","[(2816, 2824), (108, 117), (326, 335), (974, 9...","------- ? Patient, Chart, daughter Olga Mode o...",3009,12320.0,"['dementia', 'cognition', 'memory', 'mci', 'ce..."
40303,60820,60820,277912,NaN,113705759,10127549029,Z16320629,3.349755e+09,2021-04-20 00:00:00.0000000,Telemedicine,...,1,"[(98, 108)]","[(202, 411), (452, 661), (3626, 3875), (4946, ...","------- ? Patient, Chart, daughter Olga Mode o...","[' cognition', ' cerebral', ' cognitive impair...","[(2103, 2111), (108, 117), (326, 335), (544, 5...","------- ? Patient, Chart, daughter Olga Mode o...",2835,11250.0,"['dementia', 'cognition', 'moca', 'cognitive i..."
40304,60834,60834,277961,NaN,113708529,10127577079,Z16323433,3.196619e+09,2018-04-16 00:00:00.0000000,Office Visit,...,1,"[(98, 108)]","[(239, 442), (964, 1167), (4227, 4436), (5937,...","------- h muscle invasive bladder cancer, curr...",[' cognition'],"[(532, 541)]","------- h muscle invasive bladder cancer, curr...",1112,7027.0,['cognition']

In [273]:
t.to_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\matches_MASTER.csv", index = False)

In [293]:
# total = pd.read_excel(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\apoe_padded_matches.xlsx", sheet_name = 'Sheet1', index_col = False)

In [296]:
total = merged_2

In [297]:
total.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'EMPI', 'MRN', 'PatientID', 'PatientEncounterID', 'ContactDTS',
       'EncounterTypeDSC', 'NoteID', 'InpatientNoteTypeDSC', 'buckets',
       'NoteCSNID', 'LineNBR', 'NoteTXT', 'regex_location', 'regex_sent',
       'regex_match', 'match_count', 'pruned_regex_location',
       'merged_row_location', 'merged_regex_sent', 'merged_regex_match',
       'padded_merged_row_location', 'padded_merged_regex_sent',
       'padded_char_count', 'note_char_count'],
      dtype='object')

In [298]:
total.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,regex_match,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,padded_merged_row_location,padded_merged_regex_sent,padded_char_count,note_char_count
0,0,0,0,0.0,100000272,10040002098,Z6352398,3.076070e+09,2015-06-17 00:00:00.0000000,Office Visit,...,['cerebral'],1,"[(100, 109)]","[(5750, 5958)]",------- ncer. She passed secondary to this. He...,[' cerebral'],"(5457, 6251)",ked at HMS in the department of psychobiology ...,794,19217
1,1,1,1,1.0,100000272,10040002098,Z6352398,3.076214e+09,2015-07-16 00:00:00.0000000,Office Visit,...,['memory'],1,"[(100, 107)]","[(3543, 3749)]",------- a. Skin: No rashes or lesions. Neurolo...,[' memory'],"(3248, 4044)",or lymphadenopathy. Chest: Clear to auscultati...,796,5850
2,2,2,14,14.0,100000272,10040002098,Z6352398,3.242118e+09,2019-03-14 00:00:00.0000000,Office Visit,...,['dementia'],1,"[(100, 109)]","[(8641, 8849)]","------- ractures, obesity, insulin resistance,...",[' dementia'],"(8345, 9145)",ession alone in the meta-analysis. We discusse...,800,13298
3,3,3,15,15.0,100000272,10040002098,Z6352398,3.322836e+09,2020-12-04 00:00:00.0000000,Telemedicine - audio only,...,['MOCA'],1,"[(100, 105)]","[(948, 1152), (4778, 4987), (5004, 5331)]",------- accept for this week when he ran out ...,"[' moca', ' cognition', ' memory']","[(930, 1152), (4778, 4987), (5004, 5349)]",------- ing tylenol really accept for this we...,803,8711
4,4,4,20,20.0,100000272,10040002098,Z6352398,3.325561e+09,2020-09-18 00:00:00.0000000,Telemedicine - audio only,...,['cognition'],1,"[(100, 110)]","[(5367, 5576), (5593, 5812)]",------- ue Tylenol 1g q8 as needed - If pain w...,"[' cognition', ' memory']","[(5188, 5576), (5593, 5991)]",------- in is related to cancer. Reassuringly...,804,9145

In [6]:
# total.to_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\apoe_padded_matches_EVERYTHING.csv")

In [7]:
total = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\apoe_padded_matches_EVERYTHING.csv")

In [87]:
#total["APOE"].value_counts()

## Pulling Sequences that have suspicious high # of keywords (cerebral, cerebellar, cerebrovascular, etc.)

In [ ]:
pattern_c = re.compile(r'\bcerebellar\b', re.IGNORECASE)
c_matches = []
for note in tqdm(merged["padded_merged_regex_sent"]):
    try:
        m = list(set(re.findall(pattern_c, note)))
        m = list(set(m))
        c_matches.append(str(m))
    except:
        c_matches.append([])
merged["contains_cerebellar"] = c_matches

In [ ]:
pattern_c2 = re.compile(r'(?i:)\bcerebral\b', re.IGNORECASE)
c2_matches = []
for note in tqdm(merged["padded_merged_regex_sent"]):
    try:
        m = list(set(re.findall(pattern_c2, note)))
        m = list(set(m))
        c2_matches.append(str(m))
    except:
        c2_matches.append([])
merged["contains_cerebral"] = c2_matches

In [ ]:
pattern_c3 = re.compile(r'\bcerebrovascular\b', re.IGNORECASE)
c3_matches = []
for note in tqdm(merged["padded_merged_regex_sent"]):
    try:
        m = list(set(re.findall(pattern_c3, note)))
        m = list(set(m))
        c3_matches.append(str(m))
    except:
        c3_matches.append([])
merged["contains_cerebrovascular"] = c3_matches

In [ ]:
merged.head()

In [ ]:
c_matches = merged[merged["contains_cerebellar"] != "[]"]

In [ ]:
c2_matches = merged[merged["contains_cerebral"] != "[]"]

In [ ]:
c3_matches = merged[merged["contains_cerebrovascular"] != "[]"]

In [ ]:
c_matches = c_matches[:500]
c_matches.to_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\cerebellar_match_snippet.csv", index = False)

In [ ]:
c2_matches = c2_matches[:500]
c2_matches.to_excel(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\cerebral_match_snippet.xlsx", index = False)

In [ ]:
c3_matches = c3_matches[:500]
c3_matches.to_excel(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\cerebrovascular_match_snippet.xlsx", index = False)

## Regex Pattern Tests

In [ ]:
string = '-------  status post R CHOP, currently in remission. TECHNIQUE: Radiopharmaceutical: Tc-99m MDP. Dose: 27.5 mCi. Image acquisition: Approximately three hours following the intravenous administration of'
pattern = re.compile(r'(?-i:)\bMCI\b|(?-i:)\bmci\b')

for match in re.finditer((pattern) , string):
    s = match.start()
    e = match.end()
    print ('String match "%s" at %d:%d' % (string[s:e], s, e))

In [ ]:
string2 = "------- ly normal coordination and gait. Psych: Alert and oriented for age, normal mood, affect, speech and coGniTioN. See care plans and review of systems above for further history details. See associated Encounter"
pattern2 = re.compile(r'(?i)\bcognition\b')

for match in re.finditer((pattern2) , string2):
    s = match.start()
    e = match.end()
    print ('String match "%s" at %d:%d' % (string2[s:e], s, e))